<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/stories">Stories</a></li>
    <li class="breadcrumb-item active">Add Story</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <form ng-submit="addStory()">
                    <div class="card">
                        <div class="card-header">
                            <strong>Story</strong>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="story_name"
                                            ng-model="formData.story_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Story</label>
                                        <textarea class="datainput form-control" id="story"
                                            ng-model="formData.story"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i
                                    class="fa fa-dot-circle-o"></i>Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>