<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/agent">Agents</a></li>
  <li class="breadcrumb-item"><a ng-href="#/agent/{{agent.agent_id}}">{{ agent.agent_name }}</a></li>
  <li class="breadcrumb-item active">Stories Editor</li>
</ol>

<style>
.CodeMirror {
	height: 500px;
}
</style>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-8 col-lg-8">
              <div id="textareawrapper">
                <textarea id="mdId"></textarea>
              </div>
            </div>
            <div class="col-sm-4 col-lg-4">
              <div id="accordion" role="tablist" data-toggle="tooltip" data-placement="top" title="Reference data" tooltip>
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-target="#intentsList" aria-expanded="true" aria-controls="intentsList" style="color: #20a8d8;cursor: pointer;">
                        Intents
                      </a>
                      <span class="badge badge-primary badge-pill pull-right">{{intentList.length}}</span>
                    </h5>
                  </div>

                  <div id="intentsList" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="max-height: 350px;overflow-y: scroll">
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="intent in intentList"><span>{{intent.intent_name}}</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-target="#actionsList" aria-expanded="false" aria-controls="actionsList" style="color: #20a8d8;cursor: pointer;">
                        Actions
                      </a>
                      <span class="badge badge-primary badge-pill pull-right">{{actionsList.length}}</span>
                    </h5>
                  </div>
                  <div id="actionsList" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="action in actionsList"><span>{{ action.action_name }}</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-target="#entitiesList" aria-expanded="false" aria-controls="entitiesList" style="color: #20a8d8;cursor: pointer;">
                        Available Slots
                      </a>
                      <span class="badge badge-primary badge-pill pull-right">{{availableSlots.length}}</span>
                    </h5>
                  </div>
                  <div id="entitiesList" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="entity in entitiesList | filter:{slot_data_type:'!NOT_USED'} as availableSlots"> <span>{{ entity.entity_name }}</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>