<ol class="breadcrumb" breadcrumb="">
  <li class="breadcrumb-item ng-scope active"><span>Logs</span></li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col-sm-3">
                    <label class="col-form-label" for="event_type">Event Type</label>
                  </div>
                  <div class="col-sm-9">
                    <select id="event_type" ng-change="loadLogs(event_type)" ng-model="event_type" class="form-control">
                      <option value="">Please select one</option>
                      <option value="parse">Parse Requests</option>
                      <option value="train">Train</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <th>Date</th>
                    <th>IP Address</th>
                    <th>Event</th>
                    <th>Data</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="entry in logData track by $index">
                      <td ng-bind="entry.timestamp | date:'MM/dd/yyyy HH:mm:ss'"></td>
                      <td>{{ entry.ip_address }}</td>
                      <td>{{ entry.event_type }}</td>
                      <td>{{ entry.event_data }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>