<ol class="breadcrumb" breadcrumb="">
  <li class="breadcrumb-item">
    <a href="#/agents">Agents</a>
  </li>
  <li class="breadcrumb-item">
    <a ng-href="#/agent/{{agent.agent_id}}">{{agent.agent_name }} </a>
  </li>
  <li class="breadcrumb-item active">Action Details</li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu">
    <div class="btn-group" role="group">
      <a class="btn btn-outline-primary" ng-click="deleteAction()" confirm-click-title="Delete Action" confirm-click="Are you sure? This will delete this action?">
        <i class="icon-trash"></i> &nbsp;Delete Action</a>
    </div>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Action Name</strong>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-btn" data-toggle="tooltip" data-placement="top" title="Action name prefix" tooltip>
                    <select class="form-control form-control" ng-model="action.action_name_prefix" required ng-disabled="readonly" >
                      <option value="utter_">utter_</option>
                      <option value="utter_webhook_">utter_webhook_</option>
                    </select>
                  </span>
                  <input type="text" class="form-control" id="action-name" ng-model="action.action_name" required ng-readonly="readonly">
                  <span class="input-group-btn">
                    <button class="btn btn-outline-primary" type="button" ng-click="actionNameEdit(action)"><span id="action_editable_icon" ng-class="readonly?'fa fa-edit':'fa fa-check'"></span></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Action Response Templates</strong>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="action-utter" class="form-control-label">Text&nbsp;&nbsp;<small>(You can use {slot_name} to have that automatically filled with value from rasa core)</small></label>
                  <input type="text" class="form-control" id="action-utter" ng-model="action.response_text"  placeholder="Enter a Response Text for this Action">
                 </div>
                 <div class="form-group">
                   <label for="action-utter" class="form-control-label">Buttons&nbsp;&nbsp;<small>(Button in title:payload format and hit Enter)</small></label>
                    <div class="input-group">
                     <input type="text" class="form-control" id="action-utter" ng-model="action.button_text" placeholder="Buttons in title:payload format" ng-keyup="$event.keyCode==13 && addButton(action)">
                    </div>
                    <span><button class="btn btn-primary" style="margin:2px;" ng-repeat="buttoninfo in buttonsArray">{{buttoninfo.title}}</button></span>
                  </div>
                  <div class="form-group">
                    <label for="action-utter" class="form-control-label">Image URL</label>
                    <input type="text" class="form-control" id="action-utter" ng-model="action.response_image_url" placeholder="URL for an image to be displayed">
                  </div>
                  <span class="pull-right">
                    <button class="btn btn-primary" ng-click="saveActionResponse(action)">Add</button>
                  </span>
                  <br/>  <br/>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="response in responses track by response.response_id">
                      <span ng-bind-html="response.response_text | trusted"></span>
                      <br/><span title="Button in this templete"><button class="btn btn-primary btn-xs" style="margin:2px;padding: 2px;font-size: 10pt;" ng-repeat="buttoninfo in response.buttons_info">{{buttoninfo.title}}</button></span>
                      <button class="btn btn btn-outline-danger float-right" confirm-click-title="Delete Response" confirm-click="Are you sure? This will delete the response." ng-click="deleteActionResponse(response.response_id,action.action_id)">
                        <span class="fa fa-trash"></span>
                      </button>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
