<ol class="breadcrumb" breadcrumb="">
  <li class="breadcrumb-item ng-scope active"><span>UI Settings</span></li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <form ng-submit="addIntent()" class="form-horizontal">
          <div class="card">
            <div class="card-block">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select">Rasa status check poll interval</label>
                <div class="col-md-9">
                  <select class="form-control" ng-change="updateSettings('refresh_time', settings.refresh_time)"
                    ng-model="settings.refresh_time">
                    <option value="5000">5 Seconds</option>
                    <option value="30000">30 Seconds</option>
                    <option value="60000">1 min</option>
                    <option value="300000">5 mins</option>
                    <option value="-1">Disabled</option>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>