<aside class="aside-menu" ng-controller="AsideController">

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="dialog" role="tabpanel">
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Input</b></small>
      </div>
      <div class="callout m-0 py-3">
        <form name="entitiesForm">
          <hr class="m-x-1 m-y-0">
          <div class="input-group">
            <input type="test_text" ng-model="test_text" class="form-control" id="test_text"
              placeholder="Try it now ..." data-placement="left"
              title="Select a model from dropdown and enter text to be parsed">
              <button class="btn btn btn-primary" ng-click="executeTestRequest()">Go</button>
          </div>
        </form>
      </div>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase" ng-show="response_text.length > 0">
        <small><b>Output</b>
        </small>
      </div>
      <div class="callout m-0 py-3" ng-show="response_text.length > 0">
        <div class="clearfix" ng-repeat="resp in response_text">
          <div class="callout callout-info">{{resp}}</div>
        </div>
      </div>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>JSON Data</b>
        </small>
      </div>
      <div class="callout m-0 py-3">
        <json-formatter json="test_text_response" open="3"></json-formatter>
      </div>
      <hr class="mx-3 my-0">
    </div>
  </div>
</aside>