<ol class="breadcrumb" breadcrumb="">
  <li class="breadcrumb-item"><a href="#/bot">Bots</a></li>
  <li class="breadcrumb-item">
    <a href="#/bot/{{ bot.bot_id }}">{{ bot.bot_name }}</a>
  </li>
  <li class="breadcrumb-item active">{{ regex.regex_name }}</li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu">
    <div class="btn-group" role="group">
      <a class="btn btn-outline-secondary" ng-click="deleteRegex()" confirm-click-title="Delete Regex"
        confirm-click="Are you sure? This will delete the regex.">
        <i class="icon-trash"></i> &nbsp;Delete Regex</a>
    </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="alert alert-success" role="alert" ng-show="message !== ''">
          {{ message }}
        </div>
        <form ng-submit="addRegex()">
          <div class="card">
            <div class="card-header"><strong>Regex</strong></div>
            <div class="card-block">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" ng-model="regex.regex_name" class="form-control" id="name"
                      placeholder="Enter the regex name" />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Pattern</label>
                    <input type="text" ng-model="regex.regex_pattern" class="form-control" id="name"
                      placeholder="Enter the regex pattern" />
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" ng-click="editRegex()" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>