table {
  width: 90%;
  background-color: white;
}

thead {
  background-color: lightblue;
}
th,
td {
  padding: 10px;
}
/* old */

.chat-messaages {
  list-style-type: none;
  padding: 5px;
  height: 40%;
  max-height: 400px;
  overflow-y: scroll;
}
.user-message {
  text-align: right;
}
.user-message span {
  padding: 7px;
  margin-right: 5px;
  border-radius: 15px;
  display: inline-flex;
  margin-bottom: 8px;
}
.user-message :hover {
  text-decoration: underline;
  cursor: pointer;
}
.bot-message span {
  padding: 7px;
  margin-right: 5px;
  border-radius: 15px;
  display: inline-flex;
  margin-bottom: 8px;
  cursor: pointer;
}
.bot-message :hover {
  box-shadow: 3px 3px 5px #aaaaaa;
}
