<link rel="stylesheet" href="./app/components/history/history.css" />
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row" style="margin-top: 10px;">
      <div class="col-sm-12 col-lg-12">
        <form ng-submit="addAgent()">
          <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label"
                      >Agent</label
                    >
                    <div class="col-sm-4">
                      <select
                        name="agentSelect"
                        id="agentSelect"
                        ng-model="selectedAgentId"
                        class="form-control"
                        ng-change="loadAgentHistory()"
                      >
                        <option
                          ng-repeat="agent in agentList"
                          value="{{agent.agent_id}}"
                          >{{ agent.agent_name }}</option
                        >
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label"
                      >User Id</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        id="inputPassword"
                        placeholder="Search by userid (TODO..)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header"><strong>Available Models</strong></div>
          <div class="card-block">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Session ID</th>
                  <th>Date</th>
                  <th>No match</th>
                  <th>Intentions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="user in users | orderBy:'-chatlog.timestamp'"
                  ng-if="users.length > 0"
                >
                  <td>
                    <a
                      ng-href="#/conversation/{{selectedAgentId}}/{{user.user_id}}"
                    >
                      {{ user.user_id }}</a
                    >
                  </td>
                  <td>{{ user.chatlog.timestamp }}</td>
                  <td>{{ user.chatlog.noMatchNumber }}</td>
                  <td>{{ user.chatlog.intentsNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="messageFeedbackModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="messageFeedbackModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageFeedbackModalTitle">
            Message Feedback
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Ability add this expression back to an intent and also create
            Entities right here. (TODO)
          </p>
          <!--
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Expression</label>
                <span id="expression_id" ng-bind-html="expression | trusted"></span>
              </div>
              <div class="form-group">
                <label for="intentSelect">Intent</label>
                <select name="intentSelect" id="intentSelect" ng-model="selectedAgentId" class="form-control"  ng-change="loadAgentHistory()">
                  <option ng-repeat="agent in agentList" value="{{agent.agent_id}}">{{agent.agent_name}}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          -->
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="messageModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="messageModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageModalCenterTitle">
            Message Details
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">NLU Data</th>
                <th scope="col">Core Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Intent: {{ messageDetails.intent_name }}</td>
                <td>Action: {{ messageDetails.action_name }}</td>
              </tr>
              <tr>
                <td>
                  Entities:
                  <json-formatter
                    json="messageDetails.entity_data"
                    open="4"
                  ></json-formatter>
                </td>
                <td>
                  Slots:
                  <json-formatter
                    json="messageDetails.slots_data"
                    open="4"
                  ></json-formatter>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
