<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/bot">Bots</a></li>
  <li class="breadcrumb-item">
    <a href="#/bot/{{ bot.bot_id }}">{{ bot.bot_name }}</a>
  </li>
  <li class="breadcrumb-item active">
    <span>Add Synonym</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <form id="newsynonym" ng-submit="addSynonym()">
          <div class="card">
            <div class="card-header">
              <strong>Synonym</strong>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Reference value ...</label>
                    <input id="synonym_reference" type="text" ng-model="formData.synonym_reference" class="form-control"
                      placeholder="Any synonyms matched, will resolve to this value" />
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>