<ol class="breadcrumb" breadcrumb="">
        <li class="breadcrumb-item ng-scope active"><span>All Entities</span></li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
              <div class="col-sm-12 col-lg-12">
                <div class="list-group">
                  <a class="list-group-item" ng-href="#!/entity/{{entity.entity_id}}/synonyms" ng-repeat="entity in entitiesList track by entity.entity_id">{{ entity.entity_name }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
